<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.freenet.library"
      android:versionName="1.2.0">
      
    <uses-sdk android:minSdkVersion="4" />

    <application>
        <activity android:name=".SplashAd" />
        
        <service android:name="org.openudid.OpenUDID_service">
			 <intent-filter>
				<action android:name="org.openudid.GETUDID" />
			</intent-filter>
		</service>
    </application>
</manifest>